################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/ffmpeg-cpp/.vs/ffmpeg-cpp/v15
/source/ffmpeg-cpp/ffmpeg-cpp/x64/Debug
/source/ffmpeg-cpp/ffmpeg-cpp/Debug
/source/ffmpeg-cpp/demo/x64/Debug
/source/ffmpeg-cpp/x64/Debug
/source/ffmpeg-cpp/obj/Debug
/source/ffmpeg-cpp/demo/samples/out.mp4
